Finding Doctors

Interview Question Date: May 2023

Google
Easy
https://platform.stratascratch.com/coding/10356-finding-doctors?code_type=2


Find doctors with the last name of 'Johnson' in the employee list. The output should contain both their first and last names.

In [ ]:
# Import your libraries
import pandas as pd

employee_list = employee_list[(employee_list.last_name == "Johnson") & 
                               (employee_list.profession == "Doctor")]
return employee_list[["first_name","last_name"]]

Workers With The Highest Salaries
https://platform.stratascratch.com/coding/10353-workers-with-the-highest-salaries?code_type=2

Interview Question Date: June 2021

Amazon
DoorDash
Easy

You have been asked to find the job titles of the highest-paid employees.

Your output should include the highest-paid title or multiple titles with the same salary.

In [ ]:
# Import your libraries
import pandas as pd

# Want: job titles of the highest-paid employees
# Output: the highest-paid title or multiple titles with the same salary.
worker = worker[ worker.salary == worker.salary.max()]
worker = pd.merge(worker, title, left_on='worker_id', right_on='worker_ref_id').rename(columns = {"worker_title":"best_paid_title" })
return worker["best_paid_title"]

Class Performance
https://platform.stratascratch.com/coding/10310-class-performance?code_type=2

Interview Question Date: December 2020

Box
Easy

You are given a table containing assignment scores of students in a class. Write a query that identifies the largest difference in total score  of all assignments.
Output just the difference in total score (sum of all 3 assignments) between a student with the highest score and a student with the lowest score.

In [ ]:
# Import your libraries
import pandas as pd

box_scores["total_score"] = box_scores[['assignment1', 'assignment2', 'assignment3']].sum(1)

return box_scores.total_score.max() - box_scores.total_score.min()

Salaries Differences
https://platform.stratascratch.com/coding/10308-salaries-differences?code_type=2

Interview Question Date: November 2020

Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the absolute difference in salaries.

In [ ]:
# Import your libraries
import pandas as pd

db_dept = db_dept.rename(columns = {"id": "department_id"})
db_employee = pd.merge(db_employee, db_dept, on = "department_id")

# the difference between the highest salaries in the marketing and engineering departments
marketing = db_employee[db_employee.department == "marketing"]["salary"].max()
engineering = db_employee[db_employee.department == "engineering"]["salary"].max()

# Start writing code
abs(marketing - engineering)

Expensive Projects
https://platform.stratascratch.com/coding/10301-expensive-projects?code_type=2

Interview Question Date: November 2020

Microsoft
Easy

Given a list of projects and employees mapped to each project, calculate by the amount of project budget allocated to each employee . The output should include the project title and the project budget rounded to the closest integer. Order your list by projects with the highest budget per employee first.

In [ ]:
# Import your libraries
import pandas as pd

ms_projects = ms_projects.rename(columns={"id": "project_id"})
ms_projects = pd.merge( ms_projects , ms_emp_projects, how = "inner" , on = ["project_id"])

budget = ms_projects.groupby(['title','budget'])['emp_id'].size().reset_index()
budget["ratio"] = (budget["budget"]/budget["emp_id"]).round(0)
return budget[["title", "ratio"]]

Finding Updated Records
https://platform.stratascratch.com/coding/10299-finding-updated-records?code_type=2

Interview Question Date: November 2020

Microsoft
Easy

We have a table with employees and their salaries, however, some of the records are old and contain outdated salary information. Find the current salary of each employee assuming that salaries increase each year. Output their id, first name, last name, department ID, and current salary. Order your list by employee ID in ascending order.

In [ ]:
# Import your libraries
import pandas as pd

ms_employee_salary.groupby(["id", 'first_name', 'last_name', 'department_id'])["salary"].max().reset_index().sort_values('id')

Order all countries by the year they first participated in the Olympics

https://platform.stratascratch.com/coding/10184-order-all-countries-by-the-year-they-first-participated-in-the-olympics?code_type=2

ESPN
Easy

Order all countries by the year they first participated in the Olympics.


Output the National Olympics Committee (NOC) name along with the desired year.


Sort records by the year and the NOC in ascending order.

In [ ]:
# Import your libraries
import pandas as pd

olympics = olympics_athletes_events[["noc", "year"]]
olympics = (
    olympics.groupby("noc")["year"].
    min().
    to_frame("first_year").
    reset_index().
    sort_values(by = ["first_year", "noc"], ascending = [True, True])
    )

Total Cost Of Orders

https://platform.stratascratch.com/coding/10183-total-cost-of-orders?code_type=2

Interview Question Date: July 2020

Find the total cost of each customer's orders. Output customer's id, first name, and the total order cost. Order records by customer's first name alphabetically.

In [ ]:
# Import your libraries
import pandas as pd

customers = customers.rename(columns = {"id":"cust_id"})
customer_orders = pd.merge( customers , orders , how = "inner", on = "cust_id")
# Start writing code
customer_orders = (
    customer_orders.groupby(["cust_id", "first_name"])["total_order_cost"]
    .sum()
    .reset_index()
    .sort_values("first_name")
    )

Bikes Last Used

https://platform.stratascratch.com/coding/10176-bikes-last-used?code_type=2

Find the last time each bike was in use. Output both the bike number and the date-timestamp of the bike's last use (i.e., the date-time the bike was returned). Order the results by bikes that were most recently used.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
bike_use = (
    dc_bikeshare_q1_2012.groupby([ "bike_number" ])["end_time"]
    .min()
    .reset_index()
    .sort_values("end_time", ascending = False)
    )

Gender With Most Doctor Appointments

https://platform.stratascratch.com/coding/10170-gender-with-most-doctor-appointments?code_type=2

Find the gender that has made the most number of doctor appointments.
Output the gender along with the corresponding number of appointments.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
totals = (
    medical_appointments.groupby("gender")["appointmentid"]
    .size() # .count()
    .to_frame("total_appointments")
    .reset_index()
    .sort_values("total_appointments", ascending = False)
    .head(1)
    )

Number Of Records By Variety

https://platform.stratascratch.com/coding/10168-number-of-records-by-variety?code_type=2

Find the total number of records that belong to each variety in the dataset. Output the variety along with the corresponding number of records. Order records by the variety in ascending order.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
records = (
    iris.groupby('variety')
    .size()
    .to_frame("total_records")
    .reset_index()
    .sort_values('variety')
    )

Most Profitable Companies

https://platform.stratascratch.com/coding/10354-most-profitable-companies?code_type=2

Forbes
Medium

Find the 3 most profitable companies in the entire world.
Output the result along with the corresponding company name.
Sort the result based on profits in descending order.

In [ ]:
# Import your libraries
import pandas as pd

# easy solution when each company has one record
profits = (
    forbes_global_2010_2014[["company", "profits"]]
    .sort_values("profits", ascending = False)
    .head(3)
    )

# medium solution for multiple entries
profits = (
    forbes_global_2010_2014[["company", "profits"]]
    .groupby('company')
    .sum()
    .reset_index()
    .sort_values("profits", ascending = False)
    .head(3)
    )

Activity Rank

https://platform.stratascratch.com/coding/10351-activity-rank?code_type=2

Google
Medium

Find the email activity rank for each user. Email activity rank is defined by the total number of emails sent. The user with the highest number of emails sent will have a rank of 1, and so on. Output the user, total emails, and their activity rank. Order records by the total emails in descending order. Sort users with the same number of emails in alphabetical order.
In your rankings, return a unique value (i.e., a unique rank) even if multiple users have the same number of emails. For tie breaker use alphabetical order of the user usernames.

In [ ]:
import pandas as pd

gmails = (
    google_gmail_emails.groupby("from_user")
    .size()
    .to_frame("total_emails")
    .reset_index()
    .sort_values(by = ["total_emails", "from_user"], ascending = [False, True] )
    )
    
gmails["ranks"] = gmails["total_emails"].rank(method = "first", ascending=False)

return gmails

Distances Traveled

https://platform.stratascratch.com/coding/10324-distances-traveled?code_type=2

Interview Question Date: December 2020

Find the top 10 users that have traveled the greatest distance. Output their id, name and a total distance traveled.

In [ ]:
# Import your libraries
import pandas as pd

lyft_rides = pd.merge(
    lyft_rides_log, lyft_users.rename(columns = {'id':"user_id"}),
    how = "left", on = "user_id"
    )

# output: id, name and a total distance 
lyft_rides = (
    lyft_rides.groupby(["user_id", "name"])["distance"]
    .sum()
    .to_frame("total_distance")
    .reset_index()
    .sort_values('total_distance', ascending = False)
    .head(10)
    )

Employees With Same Birth Month

https://platform.stratascratch.com/coding/10355-employees-with-same-birth-month?code_type=2&utm_source=newsletter&utm_medium=click&utm_campaign=011624+sql+question

Interview Question Date: May 2023
Block
Hard

Identify the number of employees within each department that share the same birth month. Your output should list the department, birth month, and the number of employees from that department who were born in that month. If a month has no employees born in it within a specific department, report this month as having 0 employees.

In [ ]:
# Import your libraries
import pandas as pd

birthdays = (
    employee_list.groupby(['profession', 'birth_month'])
    .size()
    .reset_index(name = "total")
    .pivot_table(index = 'profession', columns = 'birth_month', values = 'total', fill_value = 0 )
    .reset_index()
    )

birthdays.columns = ['department'] + [f'Month_{month}' for month in range(1, 13)]

birthdays

In [ ]:
# Oracle
SELECT PROFESSION as department,
    SUM( CASE WHEN BIRTH_MONTH = 1 THEN 1 ELSE 0 END ) as Jan,
    SUM( CASE WHEN BIRTH_MONTH = 2 THEN 1 ELSE 0 END ) as Feb,
    SUM( CASE WHEN BIRTH_MONTH = 3 THEN 1 ELSE 0 END ) as Mar,
    SUM( CASE WHEN BIRTH_MONTH = 4 THEN 1 ELSE 0 END ) as Apr,
    SUM( CASE WHEN BIRTH_MONTH = 5 THEN 1 ELSE 0 END ) as May,
    SUM( CASE WHEN BIRTH_MONTH = 6 THEN 1 ELSE 0 END ) as Jun,
    SUM( CASE WHEN BIRTH_MONTH = 7 THEN 1 ELSE 0 END ) as Jul,
    SUM( CASE WHEN BIRTH_MONTH = 8 THEN 1 ELSE 0 END ) as Aug,
    SUM( CASE WHEN BIRTH_MONTH = 9 THEN 1 ELSE 0 END ) as Sep,
    SUM( CASE WHEN BIRTH_MONTH = 10 THEN 1 ELSE 0 END ) as Oct,
    SUM( CASE WHEN BIRTH_MONTH = 11 THEN 1 ELSE 0 END ) as Nov,
    SUM( CASE WHEN BIRTH_MONTH = 12 THEN 1 ELSE 0 END ) as Dec
FROM employee_list
GROUP BY    PROFESSION
ORDER BY    PROFESSION